<div class="grid-container">
  <h1 class="mat-h1">ダッシュボード</h1>
  <mat-grid-list cols="1" rowHeight="600px">
    <mat-grid-tile>
      <mat-card class="chart-card">
        <mat-card-header>
          <mat-card-title>
            <h1>
              1週間の視聴時間の推移
            </h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="chart-card-content">
          <ngx-charts-line-chart
            [view]="view"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [roundDomains]="roundDomains"
            [results]="chartData"
            >
          </ngx-charts-line-chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="recommendation-logs">
        <h1>みんなのおすすめ動画</h1>
        <div class="recommendation-logs-content">
          <div *ngFor="let videoLog of videoLogs">
            <mat-card class="recommendation-log-card">
              <div class="youtube-player">
                <youtube-player [height]=playerHeight [width]=playerWidth videoId="{{videoLog.youtube_id}}"></youtube-player>
              </div>
              <mat-card-content>
                <h2>コメント</h2>
                <p>{{videoLog.note}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
