.grid-container {
  margin: 20px;
}

h1, h2{
  font-weight: bolder;
}

.chart-card, .recommendation-logs {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.recommendation-logs-content {
  display: flex;
  overflow-x: scroll;

  .recommendation-log-card{
    margin:0 10px 10px;
  }
}
