.container {
  margin: 20px;
  
  h1 {
    font-weight: bolder;
  }

  .mat-expansion-panel{
    width: 100%;
    margin-bottom: 40px;

    .mat-expansion-panel-header {
      height: 100px;
      color: black;

      .url {
        margin-top: 20px;
        width: 50%;
         
        input {
          font-size: large;
        }

        .error-message {
          padding-top: 10px;
          text-align: end;
          color: red;
          opacity: 0.8;
          font-size: smaller;
        }
      }

      .mat-checkbox{
        margin: auto;
      }
    }
    
    .recommendation {
      width: 100%;
    }
  }

  .add-button {
    margin: 0 10% 0;
    width: 20%;
  }
  .submit-button{
    width: 50%;
  }
}